/* SAP Fiori Icons */
@font-face {
  font-family: 'SAP Sports Icons';
  src:
    url('https://sandrazaepfel.github.io/Sports-Icon/sap-sports.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
